<!doctype html>
<html>
<head>
<title>Upload thumbnail image and enter video title</title>
</head>
<body>
<h1>Upload thumbnail image (.jpg) of your video</h1>
<form action="" method=post enctype=multipart/form-data>
  <p><input type=file name=file>
<!--     <input type=submit value=Upload>  -->
<!-- </form> -->

<!-- <h1>Enter your video title:</h2> -->
<!-- <form action="." method="POST">  -->
    <input type="text" name="title">
    <input type="submit" name="my-form" value="Send">
</form>

</body>
</html>
